extends ../layouts/common
block content
  h1= "Edit user: " + user.name
  form(action="/users/edit/" + user.id , method = 'POST')
    .form-group
      label.ml-2(for="name") Name
      input#name.form-control.ml-2(type="text", name="name", value = user.name)
    .form-group
      label.ml-2(for="age") Age
      input#age.form-control.ml-2(type="text", name="age", value = user.age)
    button.btn.btn-primary.ml-2 Edit